MONGODB_URI=mongodb://localhost:27017/consultation_db
JWT_SECRET=your_consultation_service_secret
JWT_EXPIRY=7d
PORT=3003
APPOINTMENT_SERVICE_URL=http://localhost:3002
PATIENT_SERVICE_URL=http://localhost:3004
DOCTOR_SERVICE_URL=http://localhost:3005
JITSI_DOMAIN=meet.jit.si
