PORT=5005
NODE_ENV=development

MONGO_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/symptom_service_db?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=your_shared_jwt_secret_here

GEMINI_API_KEY=key_for_gemini_api_here
GEMINI_MODEL=gemini-2.5-flash